*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: #020826;
  background-color: #f9f4ef;
  font-family: 'Jersey 15'
}

body {
  width: 480px;
  margin: 0 auto;
}

h1 {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #716040;
  color: #f9f4ef;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  color: #f25042;
}

p {
  font-size: .8rem;
  line-height: 1.3;
}

a {
  font-size: .6rem;
  text-decoration: none;
  text-transform: uppercase;
}

.section-content {
  display: grid;
  grid-template-columns:repeat(2, 240px);
  grid-template-rows: repeat(3, 240px);
}

.text-one, .text-two, .text-three {
  padding: 1.5rem;
}

.image-one {
  background:red;
  background-image: url("https://devforum-uploads.s3.dualstack.us-east-2.amazonaws.com/uploads/original/4X/9/c/f/9cfc4ec1cb20c9cc3914105771c6eacfe6fec01e.jpeg");
  background-size: cover;
  background-postion: center;
}

.image-two {
  background: red;
  background-image: url("https://i.redd.it/tadc-caine-ai-v0-lu3bez2r4mvb1.jpg?s=99b8fdaad5cdb3b6f12d9a26c7976e61399fff28");
  background-size: cover;
  background-postion: center;
}

.image-three {
  background:red;
  background-image: url("https://cdn.britannica.com/30/152930-050-CAEA5796/Images-tomography-human-brain.jpg");
  background-size: cover;
  background-postion: center;
}
