*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: #020826;
  background-color: #f9f4ef;
  font-family: 'Jersey 15'
}

body {
  width: 480px;
  margin: 0 auto;
}

h1 {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #716040;
  color: #f9f4ef;
  letter-spacing: 3px;
}

h2 {
  font-size: 1rem;
  padding: 25px 20px; 
  color: #f25042;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}
